<footer class="site-footer">

  <div class="wrapper"> 
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description[page.lang] }}</p>
        {% if page.lang == 'pt' %}<p>Favicon feito por <a rel="nofollow" href="https://www.freepik.com/?__hstc=57440181.ae24db3c9147ee19d7cc6d3d610b636f.1558886715188.1558886715188.1558886715188.1&__hssc=57440181.4.1558886715189&__hsfp=2874892166">FreePik</a> do <a href="https://flaticon.com" rel="nofollow">FlatIcon</a> </p>{% else %}<p>Favicon made by <a rel="nofollow" href="https://www.freepik.com/?__hstc=57440181.ae24db3c9147ee19d7cc6d3d610b636f.1558886715188.1558886715188.1558886715188.1&__hssc=57440181.4.1558886715189&__hsfp=2874892166">FreePik</a> from <a href="https://flaticon.com" rel="nofollow">FlatIcon</a> </p>{% endif %}
      </div>
    </div>

  </div>

</footer>
