{
	"@context": "http://schema.org/",
	"@type": "Person",
	"name": "Marcos Pedro Ferreira Leal Silva",
	"alternateName": "Marcos Leal",
	"email": "marcoslealsilva@gmail.com",
	"url": "https://mleal.ml/",
	"image": "https://mleal.ml/assets/profile2.png",
	"gender": "male",
	"honorificSuffix" : "M.S.",
	"nationality": "Brazilian",
	"height": {
		"@type": "QuantitativeValue",
		"unitCode": "CMT",
		"value": 172
	},
	"weight": {
		"@type": "QuantitativeValue",
		"unitCode": "KGM",
		"value": 58
	},
	"birthDate": "1994-09-10",
	"alumniOf": [
		{
			"@type": "EducationalOrganization",
			"name": "Universidade de São Paulo",
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "BR",
				"addressLocality": "São Paulo",
				"addressRegion": "SP",
				"postalCode": "05508-090",
				"streetAddress": "Rua do Matão, 1010"
			}
		}, {
			"@type": "EducationalOrganization",
			"name": "Universidade Federal Fluminense",
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "BR",
				"addressLocality": "Niterói",
				"addressRegion": "RJ",
				"postalCode": "24210-346",
				"streetAddress": "Av. Gal. Milton Tavares de Souza, s/n"
			}
		}, {
			"@type": "EducationalOrganization",
			"name": "Pace University",
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "USA",
				"addressLocality": "New York",
				"addressRegion": "NY",
				"postalCode": "10038",
				"streetAddress": "1 Pace Plaza"
			}
		}, {
			"@type": "EducationalOrganization",
			"name": "Loyola Chicago University",
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "USA",
				"addressLocality": "Chicago",
				"addressRegion": "IL",
				"postalCode": "60660",
				"streetAddress": "1032 W Sheridan Rd"
			}
		}
	],
	"knowsAbout" : [ 
	"machine learning", "aprendizado de máquina", 
	"data science", "ciência de dados", 
	"statistics", "estatística", 
	"mathematics", "matemática",
	"deep learning", "aprendizado profundo",
	"sequence learning", "aprendizado de sequências",
	"lstm",
	"gru",
	"rnn", "recurrent neural network", "redes neurais recorrentes"
	],
	"knowsLanguage" : ["pt-BR", "en", "fr"],
	"jobTitle": "Data Scientist",
	"worksFor": {
		"@type": "Organization",
		"name": "B2W Digital",
		"address": {
			"@type": "PostalAddress",
			"addressCountry": "BR",
			"addressLocality": "Rio de Janeiro",
			"addressRegion": "RJ"
		}
	},
	"sameAs": ["http://www.facebook.com/marcospedroleal", 
	"http://instagram.com/marcospedroleal", 
	"http://www.linkedin.com/in/marcospedroleal",
	"https://www.twitter.com/marcospedro",
	"https://github.com/marcossilva"]
}
</script>