---
layout: page
---
<ul>
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% assign tagname = tag[0] %}
    {% assign post_count = site.tags[tagname] | where: "lang", page.lang | size %}
    {% if post_count > 0 %}
    <li>
      <h2 id="{{ tagname }}"><a href="{{ site.tags_dir[page.lang] | append : "#" | append: tagname }}">{{ tagname }}</a>: {{ post_count | pluralize: 'post ', 'posts' }}</h2>
        <ul>
        {% for post in site.tags[tagname] %}
        {% if post.lang == page.lang %}
        <li>
            <h3>{{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a></h3>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% endif %}
  {% endfor %}
</ul>